/* 
    Document   : style
    Created on : 19/08/2013, 23:34:26
    Author     : heitormaffra
    Description:
        Purpose of the stylesheet follows.
*/

#topo{
    height:76px;
    width:100%;
    border-radius: 6px;
    background-color: blue;
    opacity: 0.3;
    z-index: 2;
}
#logo{
    background: url('../imagens/DinaProcSimuLogo.png') no-repeat;
}

.menu{
    width:180px; 
    margin: 20px;
    border: 0;
    padding-left: 0px;
    padding-right: 0px;
    
}
.submenu{
    padding-left: 0px;
    padding-right: 0px;
}